.main-box{
    background-color: rgb(177, 237, 237);
    margin-top: 50px;
    border-radius: 3px;
    color: rgb(91, 86, 86);
    padding: 30px;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.main-box > .row > .col{
    padding: 50px;
}

.br-rt {
    border-right: 1px solid rgb(187, 184, 184);
}

.btn{
    background-color: rgb(17, 213, 148);
    width:30%;
    padding: 5px;
    border: 0;
}

.title{
    color:rgb(6, 143, 189);
    padding: 30px;
}
